body{
  color: rgb(53, 234, 12);
  text-align: center;
  font-family:"Comic Sans MS";
  background-image: linear-gradient(to left, rgb(37, 34, 180), rgb(17, 0, 56));}
a{
  text-decoration: none;
}
.lista{
  text-align: left;
  line-height: 50px;
}
h2, p{
  padding-left: 2%;
  text-align: left;
}
fieldset{
  
  border: double 5px rgb(53, 234, 12);
  border-radius: 20px;
  background-image: linear-gradient(to left, rgb(16, 0, 54), rgb(32, 7, 145));
}
input, select, textarea {
  border-radius: 10px;
}
img{

  border: 5px rgb(53, 234, 12);
  border-radius: 50px;
  border-style: double;
}


